body {
background-color: beige;
margin: 0;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
}

.menu-familia {
    background-color: #007B77;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #005e5a;
}

#ingresar {   
    background-color: #e7880c;
}

/* Estilos específicos para el menú secundario */
.menu-visitante {
    background-color: #ffffff;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

.menu-visitante li a {
    color: #000000; /* Cambiar el color del texto */
}

.menu-visitante li a:hover {
    background-color: #e7e7e7; /* Cambiar el color de fondo al pasar el ratón */
}